*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #373737;
}
body{
    text-align: center;
    padding-top: 12px;
    background-color: white;
}
input{
    padding: 4px;
    font-size: 14px;
}
.btn{
    margin: 12px 0;
}
.btn button{
    padding: 4px 16px;
    margin: 0 4px;
    font-size: 14px;
}
.green{
    color: forestgreen;
}
.orange{
    color: darkorange;
}
.red{
    color: red;
}